:root {
  --light-yellow: #fff1d6;
  --bright-yellow: #fac65e;
  --dark-yellow: #e39800;
  --brown: #472907;
  --bright-green: #a1c144;
}
/* -------------------- BODY/ MAIN --------------------- */
body {
  margin: 0;
  background-color: var(--light-yellow);
  cursor: default;
}

.flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: var(--brown);
  text-align: center;
  max-width: 80ch;
}

/* -------------------- HERO ---------------------- */

.pace .pace-progress {
  background: var(--bright-green) !important;
  height: 4px !important;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bright-yellow);
}

.hero > h2,
h1 {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--brown);
}

.hero > h2 {
  margin-top: 10%;
  font-size: clamp(1.2rem, 5vw, 6.2rem);
  margin-bottom: 0;
}

.hero > h1 {
  font-size: clamp(3.125rem, 18vw, 18.75rem);
  margin-top: clamp(-6.875rem, -8%, -0.938rem);
}

.hero-title {
  margin-top: -10%;
  margin-bottom: 150px;
}

.hero-zipper {
  display: flex;
  width: 100vw;
  margin-top: clamp(-25rem, -7rem + -20vw, -12rem);
}

.zipper > img {
  align-self: flex-end;
}

/* --------------------- MAIN ---------------------- */

.btn {
  background-color: var(--brown);
  color: white;
  border: none;
  display: flex;
  border-radius: 2rem;
  justify-items: center;
  margin-top: 2rem;
}

.btn > a {
  color: white;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  padding: 0.8rem 1.6rem;
  font-size: 1rem;
}

.btn:hover {
  background-color: var(--dark-yellow);
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #ecddbf; /* Set a background color */
  color: var(--brown); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 2rem; /* Rounded corners */
  font-size: 0.8rem; /* Increase font size */
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

#myBtn:hover {
  background-color: var(--bright-yellow); /* Add a dark-grey background on hover */
}

/* --------------------- CHARTS ---------------------- */

.chart-container {
  margin: 0 auto;
  width: 80%;
  height: 60vh;
  margin-bottom: 2rem;
}

.chart-container-pie {
  margin: 0 auto;
  width: 80%;
  height: 70vh;
  justify-items: center;
  margin-bottom: 2rem;
}

h3 {
  margin: 2rem;
  color: var(--brown);
  font-size: 1.7rem;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  text-align: center;
}

h4 {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  margin-top: -1rem;
  color: var(--brown);
  width: 80ch;
  text-align: center;
}

h4 > a {
  color: var(--brown);
}
h4 > a:visited {
  color: var(--brown);
}
a {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
}

.flex > a {
  margin-bottom: 4rem;
  color: var(--brown);
}

.flex > a:visited {
  color: var(--brown);
}
/* --------------------- FOOTER ---------------------- */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  bottom: 0;
  margin-top: clamp(0.5rem, 6vh, 8rem);
}

.footer-decor {
  width: 100vw;
  z-index: 1;
  align-self: flex-end;
}

.footer-text {
  z-index: 2;
  translate: 0rem 10rem;
  font-size: 0.8rem;
}

/* --------------------- MEDIA QUERIES ---------------------- */

@media screen and (max-width: 768px) {
  .footer-text {
    translate: 0rem 7rem;
  }

  .source-link {
    font-size: 0.5rem;
  }

  .chart-container-pie {
    width: 100%;
  }

  h4 {
    width: 40ch;
  }
}

@media screen and (max-width: 564px) {
  .footer-text {
    translate: 0rem 5rem;
  }

  p {
    font-size: 0.7rem;
  }

  .btn > a {
    padding: 0.7rem 1.5rem;
    font-size: 0.7rem;
  }

  .chart-container-pie {
    height: 45vh;
  }

  h3 {
    font-size: 1.3rem;
  }

  #myBtn {
    padding: 10px;
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 320px) {
  .footer-text {
    translate: 0rem 4rem;
  }
}

.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: "";
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
