:root {
  --light-yellow: #fff1d6;
  --bright-yellow: #fac65e;
  --dark-yellow: #e39800;
  --brown: #472907;
  --bright-green: #a1c144;
}
/* -------------------- BODY/ MAIN --------------------- */
body {
  width: 100vw;
  height: 100%;
  margin: 0;
  background-color: var(--light-yellow);
  position: relative;
  /* padding-bottom: 15rem; */
  cursor: default;
}

.flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: var(--brown);
  font-size: 1rem;
  text-align: center;
}

.definition {
  align-content: center;
}

/* -------------------- HERO ---------------------- */

.pace .pace-progress {
  background: var(--bright-green) !important;
  height: 4px !important;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bright-yellow);
}

.hero > h2,
h1 {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--brown);
}

.hero > h2 {
  margin-top: 10%;
  font-size: clamp(1.2rem, 5vw, 6.2rem);
  margin-bottom: 0;
}

.hero > h1 {
  font-size: clamp(3.125rem, 18vw, 18.75rem);
  margin-top: clamp(-6.875rem, -8%, -0.938rem);
}

.hero-title {
  margin-top: -10%;
  margin-bottom: 150px;
}

.hero-zipper {
  display: flex;
  width: 100vw;
  margin-top: clamp(-25rem, -7rem + -20vw, -12rem);
}

.zipper > img {
  align-self: flex-end;
}

/* --------------------- MAIN ---------------------- */

.flex-intro > h1 {
  font-size: clamp(15rem, 40vw, 30rem);
  /* text-align: center; */
  background: linear-gradient(to bottom, var(--bright-yellow), var(--dark-yellow));
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-top: -20%;
  margin-bottom: -20%;
}

.in-view {
  animation: fade 0.7s 0.5s both;
}

.not-in-view {
  opacity: 0;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translate(0, -1rem);
    /* scale: 80%; */
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
    /* scale: 100%; */
  }
}

.flex-intro > p:nth-child(3) {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-size: 3rem;
  font-style: normal;
  margin: 0;
}

.flex-illustration {
  margin-top: clamp(1rem, 10vh, 8rem);
  margin-bottom: clamp(4rem, 6vh, 8rem);
  width: min(70%, 700px);
}

.flex-illustration > p {
  margin-bottom: 2rem;
}

.grid-container {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-bottom: 8rem;
}

.grid-item > h4 {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-size: clamp(2rem, 0.3636rem + 8.7273vw, 8rem);
  font-style: normal;
  color: var(--bright-green);
  margin-bottom: -0.5rem;
  margin: 1.5rem;
}

.grid-item > p {
  margin-top: -1.5rem;
  padding: 1rem;
}

.grid-item {
  width: 100%;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative;
}

.grid-item:nth-child(1),
.grid-item:nth-child(3) {
  border-right: solid 0.125rem;
  border-bottom: solid 0.25rem;
  border-color: white;
}

.grid-item:nth-child(2),
.grid-item:nth-child(4) {
  border-left: solid 0.125rem;
  border-bottom: solid 0.25rem;
  border-color: white;
}

.grid-item:nth-child(5) {
  border-right: solid 0.125rem;
  border-color: white;
}

.grid-item:nth-child(6) {
  border-left: solid 0.125rem;
  border-color: white;
}

.grid-container > div {
  width: 45%;
}

.source-link > a:visited {
  color: var(--brown);
}

.source-link > a {
  color: var(--brown);
}

.source-link {
  font-size: 0.85rem;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/* ------------------ BTN ------------------------ */
.btn {
  background-color: var(--brown);
  color: white;
  border: none;
  display: flex;
  border-radius: 2rem;
}

.btn > a {
  color: white;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding: 0.8rem 1.6rem;
}

.btn:hover {
  background-color: var(--dark-yellow);
}

/* --------------------- FOOTER ---------------------- */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  bottom: 0;
  /* height: 10rem; */
  /* position: absolute; */
  margin-top: clamp(0.5rem, 6vh, 8rem);
}

.footer-decor {
  width: 100vw;
  /* margin-bottom: -1rem; */
  z-index: 1;
  align-self: flex-end;
}

.footer-text {
  /* position: absolute; */
  z-index: 2;
  translate: 0rem 10rem;
  font-size: 0.8rem;
}

/* --------------------- MEDIA QUERIES ---------------------- */

@media screen and (max-width: 768px) {
  .footer-text {
    translate: 0rem 7rem;
  }

  .source-link {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 564px) {
  .footer-text {
    translate: 0rem 5rem;
  }

  p {
    font-size: 0.7rem;
  }

  .btn > a {
    padding: 0.7rem 1.5rem;
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 320px) {
  .footer-text {
    translate: 0rem 4rem;
  }
}
